# Database
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/museum_reservation?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# JWT
JWT_SECRET="your-jwt-secret-here"
